<p>
    {{burger_name}}

    {{#if devoured}}
    <button class="change-eaten btn btn-success btn-sm" data-id="{{id}}" data-neweat="{{devoured}}">
        {{#if devoured}}DINNER TIME{{/if}}
    </button>
    {{/if}}

    <button class="delete-burger btn btn-danger btn-sm" data-id="{{this.id}}">DELETE</button>
</p>